@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

   body {
       font-family: Arial, sans-serif;
       height: 100vh;
       position: relative;
       background-color: #0f0f3e;
       opacity: 1;
   }

   .container .group {
       font-family: "Poppins", sans-serif;
       margin: auto;
       padding: 0;
       display: flex;
       flex-direction: column;
       align-items: center
   }

   .header {
       display: flex;
       justify-content: space-between;
   }


   .button {
       padding: 8px 16px;
       margin: 0 5px;
       font-family: "Raleway", sans-serif;
       cursor: pointer;
       color: #484B4F;
       font-weight: 600;
       border: none;
       border-radius: 10px;
       height: 50px;
       background: linear-gradient(60deg, #00ff5e, #2ee885, rgb(40, 249, 172));
       box-shadow: 0 0 1rem black;
   }

   .result-container {
       display: flex;
       flex-direction: row;
       align-items: center;
      white-space: nowrap;
      width: 250px;
      font-size: 17x;
      font-weight: 600;
      color: red;
   }

   .result-container span {
       font-size: 30px;
      white-space: nowrap;
   }

   .result {
       position: relative;
       width: 200px;
       border-color: black;
       margin-top: 20px;
       animation: myAnim 0.5s ease 0s 1 normal forwards;
   }

   @keyframes myAnim {
       0% {
           transform: scaleX(0);
       }

       100% {
           transform: scaleX(1);
       }
   }


   textarea{
       position: relative;
       width: 80vw;
       height: 60vh;
       padding: 15px;
       font-size: 20px;
       border: none;
       border-width: 4px;
       color: whitesmoke;
       background: #f0f0f0;
       border-radius: .8rem;
       margin: .7rem 0;
       background: transparent;
       transition: .5s ease;
       backdrop-filter: blur(50%);
       border-radius: 2rem;
       outline: none;
       background-color: rgba(255, 255, 255, 0.1);
   }
   .group::before{
    color: rgb(112, 219, 112);
    font-size: 5rem;
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 0;
    content: "{";
   }
   .group::after{
    color: rgb(112, 219, 112);
    font-size: 5rem;
    font-weight: 500;
    position: absolute;
    content: "}";
    bottom: 4%;
    right: 0;
   }
   textarea:focus {
       transform: scale(1.5);
       transform: translateY(-20px);
       box-shadow: 0 0 0.5rem black;
   }


  

   svg {
       font-family: "Russo One", sans-serif;
       width: 100%;
       height: 100%;
   }

   svg text {
       animation: stroke 6s infinite alternate;
       stroke-width: 2;
       stroke: #484B4F;
       font-size: 60px;
   }

   @keyframes stroke {
       0% {
           fill: rgba(72, 75, 79, 0);
           stroke: rgba(72, 75, 79, 1);
           stroke-dashoffset: 25%;
           stroke-dasharray: 0 50%;
           stroke-width: 2;
       }

       70% {
           fill: rgba(72, 75, 79, 0);
           stroke: rgba(72, 75, 79, 1);
       }

       80% {
           fill: rgba(72, 75, 79, 0);
           stroke: rgba(72, 75, 79, 1);
           stroke-width: 3;
       }

       100% {
           fill: rgba(72, 75, 79, 1);
           stroke: rgba(72, 75, 79, 0);
           stroke-dashoffset: -25%;
           stroke-dasharray: 50% 0;
           stroke-width: 0;
       }
   }






   .wrapper {
       background-color: rgb(112, 219, 112);
       width: 80%;
       border-radius: 30px;
       display: flex;

   }

   ;

   @media (width <=450px) {
       svg text {
           font-size: 20px;
       }
   }

   .loading-screen {
       position: fixed;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-color: rgb(112, 219, 112);
       display: flex;
       justify-content: center;
       align-items: center;
       z-index: 9999;
   }

   #text-container {
       margin-left: 10rem;
       display: flex;
       flex-direction: row;
       align-items: center;

   }

   #text-container p {
       font-family: "Raleway", 'Times New Roman', Times, serif;
       font-size: 40px;
       color: rgb(112, 219, 112);
       font-weight: 700;
       font-style: italic;
   }
#font-change{
    margin-top: 4rem;
    margin-right: 8rem;
}
#font-change select{
    padding: 10px;
    font-size: 1.0rem;
    font-family: 'Raleway', sans-serif;
    border-radius: 10px;
    border: none;
    background-color: rgb(112, 219, 112);
    color: black;
}
#font-change .clearText{
    font-size: 0.8rem;
    font-family: 'Raleway', sans-serif;
    border-radius: 2px;
    border: 1px solid;
    padding: 5px;
    border-radius: 10px;
    background-color: whitesmoke;
    color: black;
}
#font-change option{ 
    background-color: #007F73;
    color: white;
}